<strong>Añadir comentario:</strong><br>
<form method="POST" action="/quizes/<%= quizId %>/comments">
	<input type="text" id="comment" name="comment[texto]" value=""/>
	<button type="submit">Enviar</button>
</form>