<h1>Autores</h1>
<div>
	<p><strong>Jefe de desarrollo</strong></p>
	<image src="../public/jefe.png"></image>
	<p>Bianca</p>
</div>
<div>
	<p><strong>Picacódigo</strong></p>
	<image src="../public/yo.png"></image>
	<p>Pablo C. Lorenzo</p>
</div>