<h1 class="author_header">Autores</h1>

<div class="author">
	<p><strong>Jefa</strong></p>
	<img src="images/jefe.png" alt="Jefe" height="100" width="100"></img>
	<p>Bianca</p>
</div>

<div class="author">
	<p><strong>Picacódigo</strong></p>
	<img src="images/yo.png" alt="Programador" height="100" width="100"></img>
	<p>Pablo C. Lorenzo</p>
</div>

<div class="author_end"/>