body {
	background: #999;
}

#page-wrap {
	width: 85%;
}

#page-wrap:after {
	content: "Wide Layout";	
}

nav {
	float: left;
	width: 15%;
	height: 480px;
}

nav span {
	margin: 0px 100px 0px 0px;
}

section {
	float: right;
	width: 80%;
	height: 480px;
}

footer {
	clear: both;
	display: block;
}

.texto_izq {
  text-align: left;
}

#n1 {
	text-align: left;
}

input {
	width: 300px;
}

.just_izq_pad_10px {
  text-align: left;
  padding-left: 10px;  
}