<div>
<table align="center">
	<tr>
		<td class="just_izq"><label for="preg" class="rem">Pregunta:</label></td>
		<td class="just_izq"><input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta%>"/></td>
	</tr>
	<tr>
		<td class="just_izq"><label for="resp" class="rem">Respuesta:</label></td>
		<td class="just_izq"><input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta%>"/></td>
	</tr>
	<tr>
		<td class="just_izq"><label for="tema" class="rem">Tema:</label></td>
		<td class="just_izq">
			<select name="tema">
				<option value="otro" selected>Otro</option>
				<option value="humanidades">Humanidades</option>
				<option value="ocio">Ocio</option>
				<option value="ciencia">Ciencia</option>
				<option value="tecnologia">Tecnología</option>
			</select>
		</td>
	</tr>
</table>
<a href="/quizes"><button class="normal_btn" type="button">Cancelar</button></a>
<input type="submit" class="normal_btn" value="Salvar">
</div>