<form method="GET" action="/quizes?search">
	<input type="text" name="search" placeholder="texto búsqueda"></input>
	<input type="submit" value="Buscar"></input>
</form>
<table>
<% var i; for(i=0; i<quizes.length; i++) { %>
	<tr><td class="texto_izq"><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>